<html>
<head>
<link type="text/css" rel="stylesheet" href="style/styleCss.css" />
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link type="text/css" rel="stylesheet" href="style/styleCss.css" />

<title>EventosApp</title>
</head>
<body>



<div class="container containerCadUser">
	
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Informe seu E-mail</label> <input type="email" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Senha</label> <input	type="password" class="form-control"/>
			</div>
			
			<button class="btn btn-primary btn-block btn-sm" name="entrar" >Enviar</button>
			
		</form>

</div>
</body>
</html>